<div class="container">
    <h1 class="title">Carrito</h1>

    <link rel="stylesheet" href="/css/style.css">

    {{#if cart.products.length}}
    <div class="cart-grid">
        {{#each cart.products}}
        <div class="card cart-card">
            <h3>{{this.product.title}}</h3>
            <p><strong>Precio:</strong> ${{this.product.price}}</p>
            <p><strong>Cantidad:</strong> {{this.quantity}}</p>

            <button class="btn-red"
                onclick="removeProduct('{{../cartId}}', '{{this.product._id}}')">
                Eliminar
            </button>
        </div>
        {{/each}}
    </div>

    <div class="total-box">
        <h2>Total: ${{total}}</h2>
        <button class="btn-red" onclick="emptyCart('{{cartId}}')">
            Vaciar carrito
        </button>
    </div>

    {{else}}
    <p>El carrito está vacío.</p>
    {{/if}}

    <br>
    <a href="/" class="page-btn">⬅ Seguir comprando</a>
</div>

<script>
    async function removeProduct(cid, pid) {
        await fetch(`/api/carts/${cid}/products/${pid}`, { method: "DELETE" });
        alert("Producto eliminado");
        location.reload();
    }

    async function emptyCart(cid) {
        await fetch(`/api/carts/${cid}`, { method: "DELETE" });
        alert("Carrito vaciado");
        location.reload();
    }
</script>