<div class="container">

    <div class="card detail-card">
        <h1>{{product.title}}</h1>

        <p><strong>Descripción:</strong> {{product.description}}</p>
        <p><strong>Precio:</strong> ${{product.price}}</p>
        <p><strong>Categoría:</strong> {{product.category}}</p>
        <p><strong>Stock:</strong> {{product.stock}}</p>

        <button class="btn-green" onclick="addToCart('{{product._id}}')">
            Agregar al carrito
        </button>

        <br><br>

        <a href="/" class="page-btn">⬅ Volver al Home</a>
    </div>

</div>

<script>
    async function addToCart(pid) {
        let cid = localStorage.getItem("cartId");

        if (!cid) {
            const res = await fetch('/api/carts', { method: "POST" });
            const data = await res.json();
            cid = data._id;
            localStorage.setItem("cartId", cid);
        }

        await fetch(`/api/carts/${cid}/products/${pid}`, { method: "POST" });

        alert("Producto agregado al carrito!");
    }
</script>